<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dubya.WindowsMediaController" version="2.5.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.22" targetFramework="net48" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.25936-preview" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net48" />
  <package id="Tomlyn" version="0.16.2" targetFramework="net48" />
</packages>